<ion-header translucent>
  <ion-toolbar>
    <ion-title>Phone details</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="dismiss()">Close</ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content fullscreen>
  <ion-list>
    <ion-list-header>
      Détails
    </ion-list-header>
    <ion-item *ngFor="let param of phoneDetails">
      <ion-label>{{param.name}}</ion-label>
      <ion-note slot="end" color="primary">{{param.value}}</ion-note>
    </ion-item>
  </ion-list>

</ion-content>

