<ion-list>
    <ion-item *ngFor="let presentateur of presentateurs">
        <ion-thumbnail slot="start">
            <img [src]="presentateur.photoUrl ? apiUrl + presentateur.photoUrl : 'assets/no-photos.svg'">
        </ion-thumbnail>
        <ion-label>
            <h2>{{ presentateur.name }}</h2>
            <p>{{ presentateur.company ? presentateur.company : "unknown" }} -
                {{ presentateur.country ? presentateur.country : "unknown" }}</p>
        </ion-label>
        <ion-button fill="outline" slot="end">Profile</ion-button>
    </ion-item>
</ion-list>