<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Sessions
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Sessions</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item *ngFor="let session of sessions" (click)="showDetails(session)">
      <ion-thumbnail slot="start">
        <img [src]="session.image ? apiUrl + session.image : 'assets/no-photos.svg'">
      </ion-thumbnail>
      <ion-label>
        <h2>{{ session.titleMobile || session.title }}</h2>
        <p *ngIf="session.titleMobile">{{ session.title }}</p>
        <ion-chip *ngFor="let tag of session.tags" color="tertiary">
          <ion-label>{{tag}}</ion-label>
        </ion-chip>
      </ion-label>
      <ion-icon color="secondary" slot="end" [name]="{
        'break': 'cafe-outline',
        '⚡️ Quickie': 'flash-outline',
        '📣 Conference': 'megaphone-outline',
        '💻 Codelab': 'flask-outline',
        '📣 Keynote': 'mic-outline'
      }[session.type] || 'easel-outline'"></ion-icon>
      <ion-button fill="outline" slot="end">View</ion-button>
    </ion-item>
  </ion-list>
</ion-content>
